<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
  <link href="/stylesheets/font-awesome.css" rel="stylesheet" />
  <link href="/stylesheets/pace-theme-big-counter.css" rel="stylesheet" />
  
  <link href="/stylesheets/main-style.css" rel="stylesheet" />
  <link href="/stylesheets/morris-0.4.3.min.css" rel="stylesheet" />


</head>

<body>
  {{{body}}}



  <!-- Core Scripts - Include with every page -->
  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery.metisMenu.js"></script>
  <script src="/javascripts/pace.js"></script>
  <script src="/javascripts/siminta.js"></script>

  
</body>

</html>